header{
    background-color: red;
    color: white;
    height: 5rem;
    text-align: center;
    padding: .5rem;
}

#todayWeatherList{
    list-style-type: none;
}



/* .form-control{
    width: 300px;
} */